<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="robots" content="noindex, follow">
    <!-- <link rel="stylesheet" href="css/styles7.css" type="text/css"> -->
    <title>EMI Calculator</title>
</head>

<body>
    <div class="main_container">
        <h3 id="heading">EMI Calculator</h3>
        <p id="logo">Powered by <a href="javascript:void(0)" target="_parent"><img src="assets/logo.png"
                    width="75px"></a></p>
        <form name="sipForm">
            <div class="calculator">
                <div class="i_container">
                    <div class="i_row">
                        <label for="inputAmount">Loan Amount</label>
                        <span>₹<input name="Amount" id="inputAmount" type="number" step="50000" [value]="principal"
                                min="100000" max="10000000" /></span>
                    </div>
                    <div class="s_row">
                        <input class="slider" name="realAmount" (input)="changeLoanAmount($event)" id="myAmount"
                            type="range" step="50000" value="1000000" min="100000" max="10000000" />
                    </div>
                </div>

                <div class="i_container">
                    <div class="i_row">
                        <label for="inputRoi">Rate of Interest (P.A)</label>
                        <span><input name="Returns" id="inputRoi" type="number" [value]="rateOfIntrest" min="1" max="30"
                                step="0.05" />%</span>
                    </div>
                    <div class="s_row">
                        <input class="slider" name="realRoi" (input)="changeROI($event)" id="myRoi" type="range"
                            value="8.5" min="1" max="30" step="0.05" />
                    </div>
                </div>

                <div class="i_container">
                    <div class="i_row">
                        <label for="inputRoi">Loan Tenure</label>
                        <span><input name="Years" id="inputYears" type="number" [value]="tenure" min="1" step="1"
                                max="30" />Yr</span>
                    </div>
                    <div class="s_row">
                        <input class="slider" (input)="changeTenure($event)" name="realYears" id="myYears" type="range"
                            value="10" min="1" step="1" max="30" />
                    </div>
                </div>

                <div class="o_row">
                    <div>
                        <p class="r_title">Monthly EMI</p>
                        <p class="r_value emi" id="r1">{{displayValues.emi}}</p>
                    </div>
                    <div>
                        <p class="r_title">Principal Amount</p>
                        <p class="r_value" id="r2">{{ displayValues.principal }}</p>
                    </div>
                </div>
                <div class="o_row">
                    <div>
                        <p class="r_title">Total Interest</p>
                        <p class="r_value" id="r3">{{displayValues.intrest}}</p>
                    </div>
                    <div>
                        <p class="r_title">Total Amount</p>
                        <p class="r_value" id="r4">{{displayValues.totalAmount}}</p>
                    </div>
                </div>
            </div>
        </form>
        <app-chart [prinicipalAmount]="displayValues.principal" [intrestAmount]="displayValues.intrest"></app-chart>
    </div>
</body>

</html>